/* Hamburger menu setup and stylings */

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Positions the input checkbox button top left of the screen*/

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Positions the hamburger menu top left of the screen, font styling */

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border: 2px solid var(--primary-midtone-color);
}

/* Hamburger line */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Menu page name change colour on hover */

.menu-wrap .hamburger:hover {
  color: var(--primary-color);
}

/* Top and bottom lines */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves line down creating third line */

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler animation */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns lines into X */

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  color: var(--primary-color);
}

/* Rotate on hover when checked */

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */

.menu-wrap .toggler:checked ~ .nav_links {
  visibility: visible;
}

/* Defines hamburger menu transition speed */

.menu-wrap .toggler:checked ~ .nav_links > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

/* Defines the opacity of the menu page names */

.menu-wrap .toggler:checked ~ .nav_links > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .nav_links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for hamburger menu overlay, color, size and transition*/

.menu-wrap .nav_links > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

/* Hamburger menu navigation links styling */

.menu-wrap .nav_links > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .nav_links ul li {
  list-style: none;
  color: var(--secondary-color);
  padding: 1rem;
}

.menu-wrap .nav_links ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  font-size: 3rem;
}

.menu-wrap .nav_links ul li a:hover {
  color: var(--primary-color);
}
